.beer-card{
    width:15vw;
    box-shadow: 5px 5px 10px #888888;
    height:50vh;
    text-align: center;
    background-color: rgb(202, 202, 202);
}

.beer-card:hover { 
    background-color: rgb(126, 201, 203);
    border: 3px solid burlywood;
  }

.beer-card__pic {
    height: 30vh;
}

h1{
    font-size: 0.9rem;
    text-transform: uppercase;
}   

