.logo {
  width: 30vw;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.range-input {
  display: flex;
  justify-content: center;
  background-color: rgb(68, 115, 195);
  height: 30px;
  color:white;
  font-weight: bold;
  align-items: center
}

.product-container {
  padding-top: 30px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(5, auto);
  gap: 20px;
  padding-bottom: 170px;
}
